@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --headerTextColor: hsl(217, 19%, 35%);
  --bodyTextColor: hsl(214, 17%, 51%);
  --extraTextColor: hsl(212, 23%, 69%);
  --mainBackgroundColor: hsl(210, 46%, 95%);
  --secondaryBackgroundColor: hsl(0, 0%, 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.8125rem;
}

body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--mainBackgroundColor);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}